{% extends "base.html.twig" %}

{% block stylesheets %}
    {{parent()}}
{%endblock%}

{% block header %}
    {{parent()}}
{%endblock%}

{% block body %}

<div id="mapa" style="width: 700px; height: 500px;"></div>
    
{% endblock %}

{% block javascripts %}
    {{parent()}}
    
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v3&key=AIzaSyDMU2tT8eIQoiWOGJdu-RamLB2pVXv9qpk"></script>
    
    <script type="text/javascript" src="{{asset('js/customFunctionsGoogleMaps.js')}}"> </script>
    
    <script>
        
    getAddressInMap(   "{{address}}"   );       
        
    </script>
    
{%endblock%}

