{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent()}}
{% endblock %}  

{% block body %}
    
    <div class="container" id="contenedor">
        <div class="row"
             <div>
    
                <h1>Images list</h1>

                <table>
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Alt</th>
                            <th>Path</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for image in images %}
                        <tr>
                            <td><a href="{{ path('image_show', { 'id': image.id }) }}">{{ image.id }}</a></td>
                            <td>{{ image.name }}</td>
                            <td>{{ image.alt }}</td>
                            <td>{{ image.path }}</td>
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('image_show', { 'id': image.id }) }}">show</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('image_edit', { 'id': image.id }) }}">edit</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <ul>
                    <li>
                        <a href="{{ path('image_new') }}">Create a new image</a>
                    </li>
                </ul>
            </div>            
        </div>
    </div>                    
{% endblock %}
