{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent()}}
{% endblock %}  

{% block body %}
    
    <div class="container" id="contenedor">
        <div class="row"
             <div>
                <h1>Room creation</h1>

                {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <input type="submit" value="Create" />
                {{ form_end(form) }}

                <ul>
                    <li>
                        <a href="{{ path('room_index') }}">Back to the list</a>
                    </li>
                </ul>
            </div>    
        </div>
    </div>           
{% endblock %}
